{{#each errors}}
    <div class="alert alert-danger">
        {{text}}
    </div>
{{else}}
  
{{/each}}

<!--edited action-->
<div class="card card-body">
    <h3>Edit Meme</h3>
    <form action="/posts/{{post.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method"
               value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details">{{post.details}}</textarea>
        </div>
        <div class="form-group">
            <label for="details">Add Tags</label>
            <input type="text" value="{{post.tags}}" data-role="tagsinput" name="tags" >
<!--
            <select multiple data-role="tagsinput">
                <option selected="" value="medyo buggy pa">medyo buggy pa</option>
                <option selected="" value="kapag duplicate nawawala">kapag duplicate nawawala</option>
            </select>
-->
        </div>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</div> 