<div class="profile mb-2">
    <div class="profile-image">
        <img src="Assets/icon/home.png"><!--change later-->
    </div>

    <div class="profile-user">
        <h1 class="profile-user-name">{{name}}</h1>
    </div>                        

    <div class="profile-bio">
        <p>
            <span class="profile-real-name">
            </span> 
            {{description}}
        </p>
    </div>
</div>
{{#if posts}}
<div class="row" id="content-container">
{{/if}}
{{#each posts}}

<div class="col-md-4 mb-2">
    <div class="thumbnail img-responsive">
        <a href="" data-toggle="modal" data-target="#a{{_id}}">
        <img src="/posts/image/{{postImage}}">
        </a>
    </div>
</div>

{{else}}
<!--uses this jumbotron if page has no memes-->
    {{#unless NoResult}}
    <div class="jumbotron text-center">
        <h1 class="display-3">Start Uploading Memes!</h1>
        <p class="lead">Fill your profile full of memes</p>
        <a class="btn btn-dark btn-lg" href="/posts/upload">Upload a Meme</a>
    </div>
    {{/unless}}
{{/each}}
{{#if posts}}
</div>
{{/if}}
    
    
{{#each posts}}
<div class="modal fade" id="a{{_id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"><div class="modal-header">
            <div class="panel-heading text-center Logo-bold">
                 <h3 class="panel-title">{{title}}</h3>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button></div>
            <div class="modal-body bg-dark">
                 <img class="img-responsive modal-img" src="/posts/image/{{postImage}}">
            </div>
            <div class="modal-footer goodies">
                 <div>
                     <a href="/posts/profile/{{user}}">
                         <i class="far fa-user"style="font-size: 20px"><i>&nbsp{{name}}</i></i>
                     </a>
                 </div>
                 <div>
                     {{#if private}}
                         <i>private</i>
                     {{else}}
                        <i>public</i>
                     {{/if}}
                 </div>
                 <div>
                     <div class="dropdown">
                         <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> 
                             Share
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu bg-dark text-center" >
                             <li class="bg-dark"><a href="#" class="btn-dark btn-block">Shad Penano</a></li>
                             <li><a href="#">Plinky Gamara</a></li>
                             <li><a href="#">Graciel Nuncio</a></li>
                         </ul>
                     </div>
                 </div>
                 <div>
                    <form method="post" action="/posts/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="btn btn-info" type="submit" value="Delete">
                    </form>
                 </div>
                 <div>
                        <a href="/posts/edit/{{_id}}" class="btn btn-info btn-block">&nbsp&nbspEdit&nbsp&nbsp</a>
                </div>
                 </div>

                 <div class="modal-footer">
                     <div>
                         <!--<p class="Logo-bold">MEMESCRIPTION:</p>-->
                         <p class="Text-light" style="font-size: 18px">{{details}}</p><br/>
                         <!--<p class="Logo-bold">TAGS:</p>-->
                         <div class="form-check form-check-inline">
                         {{#each tags}}
                             <form action="/posts/tags/{{this}}" method="POST">
                                 <input type="submit" class="btn btn-primary mr-2" value="{{this}}">
                             </form>
                         {{/each}}
                         </div>
                     </div>
                 </div>
             </div>
    </div>
</div>
{{/each}}
