<div class="profile mb-2">
    <div class="profile-image">
        <img src="Assets/icon/home.png"><!--change later-->
    </div>

    <div class="profile-user">
        <h1 class="profile-user-name">{{user.name}}</h1>
    </div>                        

    <div class="profile-bio">
        <p>
            <span class="profile-real-name">{{user.details}}
            </span> 
            {{user.description}}
        </p>
    </div>
</div>
{{#if posts}}
<div class="row" id="content-container">
{{/if}}
{{#each posts}}
<!--
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <p>{{date}}</p>
        <a class="btn btn-dark btn-block mb-2"href="/ideas/edit/{{id}}">Edit</a>
DELETE POST
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
            <input class="btn btn-danger btn-block" type="submit" value="Delete">
        </form>
    </div>
-->
<div class="col-md-4 mb-2">
    <div class="thumbnail img-responsive">
        <a href="" data-toggle="modal" data-target="#a{{_id}}">
        <img src="/posts/image/{{postImage}}">
        </a>
    </div>
</div>

{{else}}
<!--uses this jumbotron if page has no memes-->
    <div class="jumbotron text-center">
        <h1 class="display-3">Start Uploading Memes!</h1>
        <p class="lead">Fill your profile full of memes</p>
        <a class="btn btn-dark btn-lg" href="/posts/upload">Upload a Meme</a>
    </div>
{{/each}}
{{#if posts}}
</div>
{{/if}}
    
    
{{#each posts}}
<div class="modal fade" id="a{{_id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"><div class="modal-header">
            <div class="panel-heading text-center Logo-bold">
                 <h3 class="panel-title">{{title}}</h3>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button></div>
            <div class="modal-body bg-dark">
                 <img class="img-responsive modal-img" src="/posts/image/{{postImage}}">
            </div>
            <div class="modal-footer goodies">
                 <div>
                     <i class="far fa-user"><i>&nbsp{{name}}</i></i>
                 </div>
                 <div>
                     <i>public</i>
                 </div>
                 <div>
                     <div class="dropdown">
                         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> 
                             Share
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu bg-dark text-center" >
                             <li class="bg-dark"><a href="#" class="btn-dark btn-block">Shad Penano</a></li>
                             <li><a href="#">Plinky Gamara</a></li>
                             <li><a href="#">Graciel Nuncio</a></li>
                         </ul>
                     </div>
                 </div>
                 <div>
                     <button type="button" class="btn btn-danger">Delete</button>
                 </div>
                 <div>
                     <a href="/posts/edit/{{_id}}" type="button" id="editBtn" class="btn btn-dark">Edit</a></div>
                 </div>
                 <div class="modal-footer">
                     <div>
                         <p class="Logo-bold">MEMESCRIPTION:</p>
                         <p class="Text-reg">{{details}}</p><br/>
                         <p class="Logo-bold">TAGS:</p>
                         <p class="Text-light">#tag</p>
                     </div>
                 </div>
             </div>
    </div>
</div>
{{/each}}
