{{#if profile}}
    <div class="profile mb-2">
        <div class="profile-image">
            <img src="Assets/icon/home.png"><!--change later-->
        </div>

        <div class="profile-user">
            <h1 class="profile-user-name">{{name}}</h1>
        </div>                        

        <div class="profile-bio">
            <p>
                <span class="profile-real-name">
                </span> 
                {{description}}
            </p>
        </div>
    </div>
<hr/>
<label class="Text-reg" style="font-size: 18px">Filter: </label>
<div id="category"  class="btn-group btn-group-toggle" data-toggle="buttons" style="float:right">
        <label class="btn btn-secondary active" id="myPosts">
            <input type="radio" name="options" autocomplete="off" checked> My Memes
        </label>
        <label class="btn btn-secondary" id="sharedpost">
            <input type="radio" name="options" autocomplete="off"> Shared Memes
        </label>
</div>
<hr/>
{{/if}}
{{#if posts}}
<div class="row" id="content-container">
{{/if}}
{{#each posts}}

<div class="dummy col-md-4 mb-2">
    <div class="thumbnail img-responsive">
        <a href="" data-toggle="modal" data-target="#a{{_id}}">
        <img src="/posts/image/{{postImage}}">
        </a>
    </div>
</div>

{{else}}
<!--uses this jumbotron if page has no memes-->
    {{#unless NoResult}}
    <div class="jumbotron text-center">
        <h1 class="display-3">Start Uploading Memes!</h1>
        <p class="lead">Fill your profile full of memes</p>
        <a class="btn btn-dark btn-lg" href="/posts/upload">Upload a Meme</a>
    </div>
    {{/unless}}
{{/each}}
{{#if posts}}
</div>
{{/if}}
    
{{#if profile}}
    {{#each posts}}
    <div class="modal fade" id="a{{_id}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content"><div class="modal-header">
                <div class="panel-heading text-center Logo-bold">
                     <h3 class="panel-title">{{title}}</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button></div>
                <div class="modal-body bg-dark">
                     <img class="img-responsive modal-img" src="/posts/image/{{postImage}}">
                </div>
                <div class="modal-footer goodies">
                     <div class="mr-2">
                         <a href="/posts/profile/{{user}}">
                             <i class="far fa-user"style="font-size: 20px"><i>&nbsp{{name}}</i></i>
                         </a>
                     </div>
                     <div>
                         <div class="dropdown">
                             {{#if private}}
                                <i class="fas fa-lock"></i>
                             {{else}}
                                <i class="fas fa-globe-asia"></i>
                             {{/if}}

                             <button id="dropdownBtn" class="btn btn-info dropdown-toggle ml-2" type="button" data-toggle="dropdown">
                             <span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu bg-dark text-center" >
                                 <label id="share" class="btn btn-dark btn-block" data-toggle="modal" data-target="#z{{_id}}">
                                     SHARE
                                 </label>
                                 <form method="post" action="/posts/{{id}}?_method=DELETE">
                                     <input type="hidden" name="_method" value="DELETE">
                                     <input class="btn btn-dark btn-block" style="border-width: 0px" type="submit" value="DELETE">
                                 </form>
                                     <a href="/posts/edit/{{_id}}" class="btn btn-dark btn-block">EDIT</a>
                             </ul>
                         </div>
                     </div>
                     </div>

                     <div class="modal-footer">
                         <div class="ml-2">
                             <p class="Text-light" style="font-size: 18px">{{details}}</p><br/>
                             <div class="form-check form-check-inline">
                             {{#each tags}}
                                 <form action="/posts/tags/{{this}}" method="POST">
                                     <input type="submit" class="btn btn-primary mr-2" value="{{this}}">
                                 </form>
                             {{/each}}
                             </div>
                         </div>
                     </div>
                 </div>
        </div>
    </div>

    <div class="modal fade sharemod" id="z{{_id}}" role="dialog">
        <div class="modal-dialog share-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="panel-heading text-center Logo-bold"  style="height: 10px;">
                         <label style="font-size: 20px">Share your meme</label>
                    </div>
                      <button type="button" class="close" style="color:#ed6161" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body bg-dark share-body" style="height: 100px">
                    <form class="form-inline" id="uniqueid" method="post" action="/">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="pangalan"  class="sr-only Text-light">Enter email</label>
                            <input type="email" name="pangalan" class="form-control" id="pangalan" placeholder="Enter email">
                            <input type="hidden" name="postid" value="{{id}}">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Share</button>
                    </form>
                </div>
                </div>
            </div>
    </div>
    {{/each}}
{{else}}
    {{#each posts}}
        <div class="modal fade" id="a{{_id}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"><div class="modal-header">
                    <div class="panel-heading text-center Logo-bold">
                        <h3 class="panel-title">{{title}}</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button></div>
                    <div class="modal-body bg-dark">
                        <img class="img-responsive modal-img" src="/posts/image/{{postImage}}">
                    </div>
                    <div class="modal-footer goodies">
                        <div>
                            <a href="/posts/profile/{{user}}">
                                <i class="far fa-user"style="font-size: 20px"><i>&nbsp{{name}}</i></i>
                            </a>
                        </div>
                        <div>
                            {{#if private}}
                                <i>private</i>
                            {{else}}
                                <i>public</i>
                            {{/if}}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div>
                            <!--<p class="Logo-bold">MEMESCRIPTION:</p>-->
                            <p class="Text-light" style="font-size: 18px">{{details}}</p><br/>
                            <!--<p class="Logo-bold">TAGS:</p>-->
                            <div class="form-check form-check-inline">
                                {{#each tags}}
                                    <form action="/posts/tags/{{this}}" method="POST">
                                        <input type="submit" class="btn btn-primary mr-2" value="{{this}}">
                                    </form>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}